<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grant Eckett - Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Custom CSS -->
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Grant Eckett</h1>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <h2>About Me</h2>
            <div class="about-content">
                <div class="profile-img">
                    <img src="static/face.jfif" alt="Grant Eckett">
                </div>
                <div class="about-me">
                    <p>I'm an automotive project engineer with six years of experience in the industry, specializing in project management and process optimization. Certified in Internal Auditing to IATF 16949:2016, I hold a BSc in Motorsport Technology with a 2:1 grade from Oxford Brookes University.</p>
                    <p>At McLaren Automotive, I've played integral roles in the launch of iconic vehicle models like the McLaren 720S and 600LT. Currently serving as a Change Control Engineer, I implement change content to McLaren products through stakeholder management and process optimization, while also interpreting Power BI reports for data-driven decision-making.</p>
                    <p>Adept at working in collaborative environments, I've volunteered with the Oxford Universities Motorsport Foundation, gaining hands-on experience in car preparation for rally and circuit competition. I'm driven by continuous learning and am currently self-teaching Python coding alongside my full-time role.</p>
                    <p>With a keen eye for detail, strong organizational skills, and a proactive approach to problem-solving, I bring a dynamic skill set to every project I undertake.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="container">
            <h2>Portfolio</h2>
            <div class="portfolio-items">
                <div class="portfolio-item">
                    <img src="static/project1.jpg" alt="Project 1">
                    <h3><a href="">Space Invaders</a></h3>
                    <p>This script is a Python implementation of the classic arcade game "Space Invaders" using the Pygame library. The game faithfully replicates the gameplay mechanics and aesthetics of the original game, providing an engaging and nostalgic experience for players.</p>
                </div>
                <div class="portfolio-item">
                    <img src="static/project2.jpg" alt="Project 2">
                    <h3><a href="">PDF to Audio</a></h3>
                    <p>A Python script designed to facilitate the conversion of PDF documents into audiobook format. The script allows users to select a PDF file using a file explorer dialog, extract text from the PDF, convert the text to speech using Google Text-to-Speech (gTTS) API, and save the resulting audio as an MP3 file. </p>
                </div>
                <div class="portfolio-item">
                    <img src="static/project3.png" alt="Project 2">
                    <h3><a href="">Image Watermarking</a></h3>
                    <p>A Python script built using the Tkinter library for creating a graphical user interface (GUI) and the Pillow (PIL) library for image processing. This application allows users to easily add watermarks to images and save the watermarked images.</p>
                </div>
                <div class="portfolio-item">
                    <img src="static/project4.jfif" alt="Project 2">
                    <h3><a href="">Online Shop</a></h3>
                    <p>A full-stack web application built using the Flask framework in Python. It offers a modern and user-friendly online shopping experience, allowing users to browse through a wide range of products, add items to their cart, and securely complete their purchases.</p>
                </div>
                <div class="portfolio-item">
                    <img src="static/project5.jpg" alt="Project 2">
                    <h3><a href="">F1 API Website</a></h3>
                    <p>This Flask web application utilizes the Ergast API to fetch Formula 1 race information and results based on user input.Covers the entire duration of the championship to present day.</p>
                </div>
                <div class="portfolio-item">
                    <img src="static/project6.png" alt="Project 2">
                    <h3><a href="">Typing Speed Test</a></h3>
                    <p>A Python application designed to help users improve their typing speed and accuracy. The app features a user-friendly interface built using the Tkinter library, providing a seamless typing experience.</p>
                </div>
                <!-- Add more portfolio items as needed -->
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <h2>Contact Me</h2>
            <p>Feel free to reach out to me for any inquiries or collaboration opportunities.</p>
            <form action="{{ url_for('static', filename='send_email.php') }}" method="post">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
                <textarea name="message" placeholder="Your Message" required></textarea>
                <button type="submit" class="btn">Send Message</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Grant Eckett. All rights reserved.</p>
            <div class="social-icons">
                <a href="https://github.com/GEckett"><img src="https://img.icons8.com/ios-filled/50/github.png" alt="GitHub"></a>
                <a href="https://www.linkedin.com/in/grant-eckett-27b59b100/"><img src="https://img.icons8.com/fluency/48/linkedin.png" alt="LinkedIn"></a>
                <!-- Add more social media icons as needed -->
            </div>
        </div>
    </footer>
    <!-- Custom JavaScript if needed -->
</body>
</html>
